a {
    text-decoration: none;
    color: inherit;
}


p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #E3D9D5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%
}

/* .globa__wrapper {
    width: 100%;
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
}


.container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 10px;

}


.header {
    margin-top: 33px;
    margin-bottom: 151px;
}


.header__content--menu {
    display: flex;
    gap: 10%;
}


.head__content--box {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    display: flex;
    justify-content: space-between;

}

.head__content--box,
.logo__text,
.menu__item,
.head__btn--box {
    line-height: 33px;
}


.menu__item {
    font-size: 18px;
    color: #110f18;
    font-weight: 500;

}

.logo__box {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.logo__text {
    font-weight: 500;
    font-size: 18px;
    color: #110f18;
}


.menu__list {
    display: flex;
    gap: 40px;
    /* transform: translateX(1%); */
}


.head__btn--box {
    display: flex;
    justify-content: flex-end;
    gap: 9%;

}


.head__btn--item a {
    font-weight: 500;
    font-size: 18px;
    color: #110f18;
}

.head__btn--two {
    border: 2px solid #353536;
    padding: 14px 55px;
}









.header__mobile-btn {
    display: none;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
}


.header__mobile-btn span {
    height: 1px;
    background-color: #353536;
    width: 100%;
}













.top__content {
    margin-bottom: 247px;
}

.top__content--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

}



.top__title {
    font-size: 68px;
    color: #110f18;
    margin-bottom: 31px;
}

.top__text {
    font-size: 22px;
    color: #3d4048;
    margin-bottom: 84px;
    line-height: 32px;
    max-width: 80%;
}

.rating__box {
    display: flex;
    gap: 10px;
    transform: translate(-93px, 0px)
}

.num {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    color: #110f18;
}

.content__right {
    position: relative;
    width: 100%;
    height: 100%;
}


.top__image--star {
    position: absolute;
    right: 40px;
    transform: translateY(-20px);

}

.top__image--back {
    position: absolute;
    z-index: -1;
    top: -240px;
    right: -225px;
}

.top__image {
    position: absolute;
    right: -287px;
    top: -50px;
}


.num__customers--box {
    display: flex;
    gap: 47px;
    position: relative;

}


.one:first-child::after {
    content: "";
    position: absolute;
    right: 169px;
    top: 38%;
    transform: translate(-802%, -63%);
    border-left: 2px solid #DAD1CE;
    height: 40px;
}


.customers__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #919090;
}

.customers__rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.stars__img {
    line-height: 30px;
}

.cust__img--box {
    position: relative;
    /* width: max-content; 
    height: max-content;  */
}


.raiting__shadow {
    position: absolute;
    transform: translate(-470px, -323px);
}

.cust__img--box img {
    position: absolute;

}


.cust__log1 {
    z-index: 3;
    transform: translate(-161px, 0px);
}

.cust__log2 {
    z-index: 2;
    transform: translate(-120px, 0px);
}

.cust__log3 {
    z-index: 1;
    transform: translate(-78px, 0px);
}





.rating__box,
.num__customers--box {

    display: flex;
    justify-content: end;
}






.company {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #110f18;
}


.company__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-top: 85px;
    margin-bottom: 74px;
}


.company__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 89px;
}






















/* ADAPTIVE */


@media (max-width: 980px) {

    .menu__list {
        gap: 20px;
    }

    /* .head__content--box{
    gap: 25px;
} */

}


@media (max-width: 865px) {
    .menu__list {
        padding-left: 5px;
        padding-right: 5px;
    }
}


@media (max-width: 765px) {


    .header__content--menu {
        flex-direction: column;
        background-color: #3d4048;
        position: absolute;
        right: 0;
        transform: translateY( 40px);
        top: -200%;

    }

    .header__content--menu.menu--open{
        top: 0;
    }

    .mobile__list {
        width: 180px;
        flex-direction: column;
        background-color: #3d4048;
    }

    .header__mobile-btn {
        display: flex;

    }
}