a {
    text-decoration: none;
    color: inherit;
}


p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #E3D9D5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%
}

/* .globa__wrapper {
    width: 100%;
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
}


.container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 10px;

}


.header {
    margin-top: 33px;
    margin-bottom: 151px;
}


.header__content--menu {
    display: flex;
    gap: 230px;

}


.head__content--box {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    display: flex;
    justify-content: space-between;

}

.head__content--box,
.logo__text,
.menu__item,
.head__btn--box {
    line-height: 33px;
}


.menu__item {
    font-size: 18px;
    color: #110f18;
    font-weight: 500;

}

.logo__box {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.logo__container {
    line-height: 45px;
}

.logo__text {
    font-weight: 500;
    font-size: 18px;
    color: #110f18;
}


.menu__list {
    display: flex;
    gap: 40px;
    /* transform: translateX(1%); */
}


.head__btn--box {
    display: flex;
    justify-content: flex-end;
    gap: 9%;

}


.head__btn--item a {
    font-weight: 500;
    font-size: 18px;
    color: #110f18;
}

.head__btn--two {
    border: 2px solid #353536;
    padding: 14px 55px;
}









.header__mobile-btn {
    display: none;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
}


.header__mobile-btn span {
    height: 1px;
    background-color: #353536;
    width: 100%;
}













.top__content {
    margin-bottom: 247px;
}

.top__content--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

}



.top__title {
    font-size: 68px;
    color: #110f18;
    margin-bottom: 31px;
}

.top__text {
    font-size: 22px;
    color: #3d4048;
    margin-bottom: 84px;
    line-height: 32px;
    max-width: 80%;
}

.rating__box {
    display: flex;
    gap: 10px;
    transform: translate(-93px, 0px)
}

.num {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    color: #110f18;
}

.content__right {
    position: relative;
    width: 100%;
    height: 100%;
}


.top__image--star {
    position: absolute;
    right: 40px;
    transform: translateY(-20px);
}

.top__image--back {

    position: absolute;
    z-index: -1;
    top: -240px;
    right: -225px;
}

.top__image {
    position: absolute;

    right: -287px;
    top: -50px;
}


.num__customers--box {
    display: flex;
    gap: 47px;
    position: relative;

}


.one:first-child::after {
    content: "";
    position: absolute;
    right: 169px;
    top: 38%;
    transform: translate(-802%, -63%);
    border-left: 2px solid #DAD1CE;
    height: 40px;
}


.customers__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #919090;
}

.customers__rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.stars__img {
    line-height: 30px;
}

.cust__img--box {
    position: relative;
    /* width: max-content; 
    height: max-content;  */
}


.raiting__shadow {
    position: absolute;
    transform: translate(-470px, -323px);
}

.cust__img--box img {
    position: absolute;

}


.cust__log1 {
    z-index: 3;
    transform: translate(-161px, 0px);
}

.cust__log2 {
    z-index: 2;
    transform: translate(-120px, 0px);
}

.cust__log3 {
    z-index: 1;
    transform: translate(-78px, 0px);
}





.rating__box,
.num__customers--box {

    display: flex;
    justify-content: end;
}






.company {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 177px;
    background: #110f18;
}


.company__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-top: 85px;
    margin-bottom: 74px;
}


.company__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 89px;

}



.features__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 74px;
    line-height: 100%;
    text-align: center;
    color: #110f18;
    margin-bottom: 138px;
}


.features__content--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 137px;
    grid-column-gap: 154px;
    margin-bottom: 169px;
}

.features__item {
    display: flex;
    gap: 41px;
}

.features__subtitle {
    font-weight: 500;
    font-size: 28px;
    color: #110f18;
    margin-bottom: 15px;
}


.features__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
    color: #5f6167;
    max-width: 375px;
}

.features__item img {
    max-width: 77px;
    transform: translateY(-60px);

}

.features {
    margin-bottom: 163px;
}








.tools__box--content {
    display: flex;
}





.tools__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    color: #110f18;
    margin-bottom: 36px;
}

.tools__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
    color: #837a76;
    max-width: 615px;
    margin-bottom: 24px;
}


.tools__descr {
    font-size: 21px;
    line-height: 160%;
    color: #837a76;
    max-width: 500px;
}

.tools__content {
    display: flex;
    align-items: center;
}

.tools__content::before {
    content: ".";
    font-size: 50px;
    margin-right: 10px;
    display: inline-block;
    color: #837a76;
    transform: translateY(-30px);
}


.tools__descr--box {
    margin-bottom: 36px;

}

.tools__btn {
    background-color: #ffc947;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 56px;
    padding-left: 57px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #110f18;
}



.tools {
    background-color: #fffdf5;
    padding-top: 156px;
    padding-bottom: 220px;
}


.tools__box--content {
    display: flex;
    justify-content: space-between;
}

.tools__phone {
    max-width: 367px;
    position: relative;
    left: 80px;
    z-index: 2;
}

.tools__shadow {
    position: absolute;
    max-width: 900px;
    transform: translate(-530px, -150px);
}













.experience__content-box {
    display: flex;
    justify-content: space-between;
}


.experience__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 110%;
    color: #110f18;
    margin-bottom: 41px;
}




.experience__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    color: #837a76;
    margin-bottom: 41px;
    max-width: 470px;
}


.experience__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience__item {
    display: flex;
    gap: 10px;
}


.experience__item p {
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    color: #13111a;
    max-width: 400px;
}

.experience__item img {
    align-self: flex-start;
    transform: translateY(5px);
}

.experience {
    padding-top: 170px;
    padding-bottom: 150px;
}


.experience__right {
    position: relative;

}

.experience_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}







.delivering__item {
    display: flex;
    gap: 20px;
}

.delvering__content b {
    font-weight: 500;
    font-size: 27px;
    line-height: 155%;
    color: #13111a;
}




.delvering__descr {
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
    color: #837a76;
    max-width: 527px;
}


.delivering__descr--box {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.delivering__images {
    align-self: flex-start;
}




.stоries {
    padding-top: 117px;
    padding-bottom: ;
}

.stories__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    color: #110f18;
    max-width: 1230px;
    margin-bottom: 84px;
}


.stories__content--box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
    padding-bottom: 127px;
}

.stories__nema--box {
    display: flex;
}


.stries__name {
    font-weight: 500;
    font-size: 21px;
    line-height: 155%;
    color: #13111a;
}

.stories__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 154%;
    color: #989898;
}

.stories__nema--box {
    display: flex;
    gap: 15px;
    margin-bottom: 34px;
}

.stories__subtitle {
    font-weight: 500;
    font-size: 23px;
    line-height: 155%;
    color: #13111a;
    margin-bottom: 14px;
}


.stories__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 154%;
    color: #0e0d16;
}


.stories__item {
    background-color: #fffdf5;
    padding-top: 35px;
    padding-left: 33px;
    padding-right: 40px;
    padding-bottom: 74px;

}


.questions {
    background-color: #fffdf5;
    padding-top: 117px;
    padding-bottom: 197px;
}

.questions__left--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 240px;
}


.questions__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    color: #110f18;
    max-width: 400px;
    padding-bottom: 13px;
}

.questions__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
    color: #837a76;
    max-width: 480px;
}

.questions__text--right {
    font-weight: 400;
    font-size: 21px;
    line-height: 155%;
    color: #837a76;
    max-width: 473px;
}

.questions__subtitle {
    font-weight: 500;
    font-size: 27px;
    line-height: 123%;
    color: #13111a;
    padding-bottom: 12px;
}


.questions__left {
    display: flex;
    flex-direction: column;
    gap: 148px;
}

.questions__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 55px;

}






























/* ADAPTIVE */


@media (max-width: 1100px) {
    .header__content--menu {
        gap: 160px;
    }


    .top__image {
        right: -187px;
        /* top: -50px; */
        max-width: 700px;
    }





    .top__content--box {
        gap: 100px;
    }


    .top__title {
        font-size: 60px;
    }

}


@media (max-width: 1000px) {}

@media (max-width: 980px) {

    .menu__list {
        gap: 20px;
    }

    /* .head__content--box{
    gap: 25px;
} */

    .header__content--menu {
        gap: 120px;
    }

}


@media (max-width: 865px) {
    .menu__list {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header__content--menu {
        gap: 50px;
    }
}


@media (max-width: 765px) {



    .global__wrapper {
        position: relative;
        min-height: 5000px;
        overflow-x: hidden;
    }

    .header__content--menu {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 70px;
        transform: translateX(100%);
        transition: transform .3s ease;
        border: 2px solid #110f18;
        background-color: #E3D9D5;
        padding: 20px 0px 20px 20px;
        z-index: 3;

    }


    .head__btn--box {
        gap: 20px;
    }


    .header__content--menu.menu--open {

        transform: translateX(0);


    }

    .mobile__list {
        width: 180px;
        flex-direction: column;

    }

    .header__mobile-btn {
        display: flex;

    }


    .header__content--menu {
        display: flex;
        gap: 17px;
    }

    .head__btn--one {
        padding-left: 6px;
    }



    .top__image {
        max-width: 500px;
    }

}